<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <title>imPro v1.0.2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'imagepro/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://eda3367a.fanoutcdn.com/bayeux/static/faye-browser-min.js"></script>
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-cookies.js"></script>
  <script src="{% static 'imagepro/main.js' %}"></script>
</head>

<body ng-app="myApp" ng-controller="appCtrl">
<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">imPro</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#impro">
	    <span id="terminal-btn" class="glyphicon glyphicon-credit-card"></span>
	</a></li>
        <li><a href="#impro">Image Processing</a></li>
        <li><a href="#dimre">Dimension Reduction</a></li>
        <li><a href="#cluster">Clustering</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
  <div class="modal fade" id="img-output" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">OUTPUT DATA</h4>
        </div>
        <div class="modal-body">
         <div id='imgproResult'> {{ result|linebreaks }}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="loading" role="dialog">
    <div class="modal-dialog modal-lg">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" style="width: 50%; margin: 0 auto;">
          <h2 class="modal-title">Processing, please wait  . . .</h2>
          <img src="{% static 'imagepro/ajax-loader.gif'%}" alt="loading" style="height:20px;width:400px"/>
        </div>
      </div>
      
    </div>
  </div>

<form role="form-inline">
{% csrf_token %}

<!-- First Container -->
<div class="container-fluid bg-1 text-center" id="impro">
  <h1 class="margin" id="impro"></h1>
  <!--form role="form-inline" action="{% url 'imagepro:index' %}" method="get"-->

  <div class="row">
    <div class="col-sm-4"> <div class="pull-right"><span class="glyphicon glyphicon-picture"></span> Image dir</div></div>
    <div class="col-sm-4">
      <input type="text" ng-model="img_path" ng-change="change_img($event)" id="img_path" class="form-control" id="img_path" name="img_path" value="">
    </div>
    <div class="col-sm-4"><div class="pull-left" id="img_info">{$ img_info $}</div></div>
  </div>


  <div class="row" id="filters_selector">
    <div class="col-sm-4">
      <div class="pull-right" style="padding-top: 20px">
	<div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="grayscale" value="grayscale" checked="checked">
		Grayscale
  	  </label>
	</div>
	<div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="sobel" value="sobel">
		Sobel filter
  	  </label>
	</div>
	<div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="roberts" value="roberts">
		Roberts filter
  	  </label>
	</div>
	<div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="canny" value="canny">
		Canny filter
  	  </label>
         <div class="form-group" id="canny_sigma" style="display:none">
        	 sigma = <input type="number" maxlength="3" min="0" max="5" step="0.1" id="canny_sigma_input" name="canny_sigma" value="1">
	 </div>
	</div>
    	<!--div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="contour" value="contour">
		Contour Detection
  	  </label>
	</div-->
    	<div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="skeleton" value="skeleton">
		Skeleton Detection
  	  </label>
	</div>
       </div>
    </div>
    <div class="col-sm-4">
      <p>Original</p>
      <img id="original" src="{% static 'imagepro/sample_original.png' %}" class="center-block" style="width:50%" alt="Image">
    </div>
    <div class="col-sm-4">
	<div class="pull-left">
      <p>Transformed</p>
      <img id="transformed" src="{% static 'imagepro/sample_gray.png' %}" style="width:50%" alt="Image">
	</div>
    </div>
  </div>
  </br>
    <button id="imgrun-btn" type="submit" class="btn btn-default" name="option" value="1">
       <span class="glyphicon glyphicon-play"> Run</span>
    </button>
  <div>
    <div id="loadingA" style="display:none;">
      <h3>Please Wait . . .</h3>
      <img src="{% static 'imagepro/ajax-loader.gif'%}" alt="loading" />
    </div>
  </div>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center" id="dimre">
  <h3 class="margin">Dimension Reduction</h3>
  <div class="row">
    <div class="col-sm-4"> <div class="pull-right"><span class="glyphicon glyphicon-text-size"></span> Data file</div></div>
    <div class="col-sm-4">
      <input type="text" ng-model="dim_path" ng-change="change_dim($event)" id="dim_path" class="form-control" id="dim_path" name="dim_path" value="">
    </div>
    <div class="col-sm-4"><div class="pull-left" id="dim_info">{$ dim_info $}</div></div>
  </div>

  <div class="row" id="dim_selector">
    <div class="col-sm-3" align="center">
    </div>
    <div class="col-sm-3" align="center">
      <div align="center" style="padding-top: 20px">
	<div class="radio">
  	  <label>
   	   <input type="radio" name="dim_red" id="pca" value="pca" checked="checked">
		PCA
  	  </label>
	</div>
       </div>
    </div>
    <div class="col-sm-3" align="center">
      <div align="center" style="padding-top: 20px">
	<div class="radio">
  	  <label>
   	   <input type="radio" name="dim_red" id="nmf" value="nmf" disabled="true">
		NMF
  	  </label>
	</div>
       </div>
    </div>
    <div class="col-sm-3" align="center">
    </div>
  </div>
  </br>
    K = <input type="number" maxlength="3" min="2" max="20" step="1" id="dim_k" name="dim_k" value="2">&nbsp;&nbsp;&nbsp;
    <button id="dimrun-btn" type="submit" class="btn btn-default" name="option" value="2">
       <span class="glyphicon glyphicon-play"> Run</span>
    </button>
  <div>
    <div id="loadingB" style="display:none;">
      <h3>Please Wait . . .</h3>
      <img src="{% static 'imagepro/ajax-loader.gif'%}" alt="loading" />
    </div>
  </div>

</div>


<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center" id="cluster">
  <h3 class="margin">Clustering</h3>
  <div class="row">
    <div class="col-sm-4"> <div class="pull-right"><span class="glyphicon glyphicon-text-size"></span> Data file</div></div>
    <div class="col-sm-4">
      <input type="text" ng-model="clu_path" ng-change="change_clu($event)" id="clu_path" class="form-control" id="clu_path" name="clu_path" value="">
    </div>
    <div class="col-sm-4"><div class="pull-left" id="clu_info">{$ clu_info $}</div></div>
  </div>

  <div class="row" id="clu_selector">
    <div class="col-sm-3" align="center">
    </div>
    <div class="col-sm-3" align="center">
      <div align="center" style="padding-top: 20px">
	<div class="radio">
  	  <label>
   	   <input type="radio" name="clu_alg" id="KMeans" value="kmeans" checked="checked">
		KMeans
  	  </label>
	</div>
       </div>
    </div>
    <div class="col-sm-3" align="center">
      <div align="center" style="padding-top: 20px">
	<div class="radio">
  	  <label>
   	   <input type="radio" name="clu_alg" id="nmf" value="nmf" disabled="true">
		NMF
  	  </label>
	</div>
       </div>
    </div>
    <div class="col-sm-3" align="center">
    </div>
  </div>
  </br>
    K = <input type="number" maxlength="3" min="2" max="20" step="1" id="clu_k" name="clu_k" value="2">&nbsp;&nbsp;&nbsp;
    <button id="clurun-btn" type="submit" class="btn btn-default" name="option" value="3">
       <span class="glyphicon glyphicon-play"> Run</span>
    </button>
  <div>
    <div id="loadingC" style="display:none;">
      <h3>Please Wait . . .</h3>
      <img src="{% static 'imagepro/ajax-loader.gif'%}" alt="loading" />
    </div>
  </div>

</div>

</form>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p> Made By Yi Ren Cheng</p>
</footer>

<!-- Terminal Container-->
<div id="terminal" style="display:none;">
  <div class="row">
    <div class="col-sm-6"> 
        <div id="terminal-title">
	  imPro log
        </div>
    </div>
    <div class="col-sm-6" align="right">
  <button id="terminal-close">
	<div id="terminal-close" style="color:#000000">X</div>
  </button>
    </div>
  </div>
  <div id="terminal-body">
  </div>
</div>

</body>
</html>
