<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <title>imPro v1.0.1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'imagepro/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://eda3367a.fanoutcdn.com/bayeux/static/faye-browser-min.js"></script>
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-cookies.js"></script>
  <script src="{% static 'imagepro/main.js' %}"></script>

</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">imPro</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#impro">
	    <span id="terminal-btn" class="glyphicon glyphicon-credit-card"></span>
	</a></li>
        <li><a href="#impro">Image Processing</a></li>
        <li><a href="#dimre">Dimension Reduction</a></li>
        <li><a href="#cluster">Clustering</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- First Container -->
<div class="container-fluid bg-1 text-center" id="impro" ng-app="myApp" ng-controller="appCtrl">
  <h1 class="margin" id="impro">Image Processing</h1>
  <!--form role="form-inline" action="{% url 'imagepro:index' %}" method="get"-->
  <form role="form-inline">
{% csrf_token %}

  <div class="row">
    <div class="col-sm-4"> <div class="pull-right"><span class="glyphicon glyphicon-picture"></span> Image dir</div></div>
    <div class="col-sm-4">
      <input type="text" ng-model="img_path" ng-change="change($event)" id="img_path" class="form-control" id="img_path" name="img_path" value="">
    </div>
    <div class="col-sm-4"><div class="pull-left">{$ img_info $}</div></div>
  </div>


  <div class="row" id="filters_selector">
    <div class="col-sm-4">
      <div class="pull-right" style="padding-top: 20px">
	<div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="grayscale" value="grayscale" checked="checked">
		Grayscale
  	  </label>
	</div>
	<div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="sobel" value="sobel">
		Sobel filter
  	  </label>
	</div>
	<div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="roberts" value="roberts">
		Roberts filter
  	  </label>
	</div>
	<div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="canny" value="canny">
		Canny filter
  	  </label>
         <div class="form-group" id="canny_sigma" style="display:none">
        	 sigma = <input type="number" maxlength="3" min="0" max="5" step="0.1" id="canny_sigma_input" name="canny_sigma" value="1">
	 </div>
	</div>
    	<!--div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="contour" value="contour">
		Contour Detection
  	  </label>
	</div-->
    	<div class="radio" style="text-align: left">
  	  <label>
   	   <input type="radio" name="filter" id="skeleton" value="skeleton">
		Skeleton Detection
  	  </label>
	</div>
       </div>
    </div>
    <div class="col-sm-4">
      <p>Original</p>
      <img id="original" src="{% static 'imagepro/sample_original.png' %}" class="center-block" style="width:50%" alt="Image">
    </div>
    <div class="col-sm-4">
	<div class="pull-left" style="align-text:left">
      <p>Transformed</p>
      <img id="transformed" src="{% static 'imagepro/sample_gray.png' %}" class="center-block" style="width:50%" alt="Image">
	</div>
    </div>
  </div>
  </br>
    <button action="JavaScript:imgproRun()" id="imgrun-btn" type="submit" class="btn btn-default" name="option" value="1">
       <span class="glyphicon glyphicon-play"> Run</span>
    </button>
  </form>
  <div>
    <div id="loading" style="display:none;">
      <h3>Please Wait . . .</h3>
      <img src="{% static 'imagepro/ajax-loader.gif'%}" alt="loading" />
    </div>
    <h3 id="imgproResult">{{ result|linebreaks }}</h3>
  </div>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center" id="dimre">
  <h3 class="margin">Dimension Reduction</h3>
  <img src="{% static 'imagepro/csoon.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="Coming soon . . ." width="350" height="350">
  <h3>. . .</h3>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center" id="cluster">
  <h3 class="margin">Clustering</h3><br>
  <img src="{% static 'imagepro/csoon.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="Coming soon . . ." width="350" height="350">
  <h3>. . .</h3>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p> Made By Yi Ren Cheng</p>
</footer>

<!-- Terminal Container-->
<div id="terminal" style="display:none;">
  <div id="terminal-content">
	imPro Terminal v1.0.1
  </div>
</div>

</body>
</html>
