body {
      height: 100%;
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      padding-right: 0px; 
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-image: url("/static/imagepro/main_bg.png");
/*    background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

/*.modal-open {
overflow: hidden
width: calc(100% - 17px) 
}*/
#terminal {
    position: fixed;
    z-index:150;
    bottom: 0;
    height: 300px;
    width: 100%;
    background-color: #000000;
	
}
#terminal-title{
    border: 2px solid #000000;
    background-color: #000000;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 20px;
}
#terminal-body{
    position: absolute;
    background-color: #e0e0eb;
    color: #0000cc;
    font-size: 12px;
    height:300px; 
    max-height:300px;    
    width: 100%;
    overflow-y:auto;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

#filters_selector{
    padding-top: 20px;

}

#img_run{
    padding-top: 20px;
}

#canny_sigma{
    padding-left: 20px;
}
#canny_sigma_input{
    box-sizing: border-box;
    height: 35px;
    width: 50px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    color: #000000;
    padding-top:1px;
    margin-top:1px;
    font-size:16px;
}
#imgproResult{
    color: #474e5d;
}
.modal-title{
    color: #474e5d;
}

input[type=text]:focus {
    background-color: lightblue;
}

#dim_k{
    color: #000000;
}
